/* stylelint-disable font-family-no-missing-generic-family-keyword */

.radio-button-style {
  color: #f2a23f;
}

.radio-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.radio-button-label {
  font-family: 'Open Sans', serif;
  font-weight: 500;
  font-size: 20px;
  color: rgb(0 0 0 / 38%);
  line-height: 24px;
}
